<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Job Board</title>
    <link rel="stylesheet" href="/styles/admin/login.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="containerr">
            <div class="logo">Job-Zen-BOARD</div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="profile-photo">
                <img src="/images/profile.png" alt="Profile Photo">
            </div>
        </div>
    </header>
    <main>
        <section class="login-section">
            <h1>Admin Login</h1>
            <div class="form-control">
                <input type="text" required>
                <label><span>Username</span></label>
            </div>
            <div class="form-control">
                <input type="password" required>
                <label><span>Password</span></label>
            </div>
            <button class="btn"><span>Login</span></button>
            <p class="signup-link ">Don't have an account? <a href="/admin/signup">Sign up</a></p>
        </section>
    </main>
</body>

</html>