<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employer Login</title>
    <link rel="stylesheet" href="/styles/employer/employerLogin.css">
    <link rel="stylesheet" href="/styles/employer/anavbar.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>

<body>
    <header>
        <div class="logo">Job-Zen</div>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/login" class="employer">JobSeeker</a></li>
            </ul>
        </nav>
    </header>
    <form class="form" method="post" action="/employer/login">
        <p class="title">Welcome Back!🙌🏻</p>
        <p class="message">Sign in to your employer account to manage your postings and applications.</p>
        <label>
            <input class="input" type="email" placeholder="" required="" name="email">
            <span>Email Address</span>
        </label>
        <label>
            <input class="input" type="password" placeholder="" required="" name="password">
            <span>Password</span>
        </label>
        <a href="#" class="forgot-password">Forgot Password?</a> <button class="submit" type="submit">Login</button>
        <p class="signup">Don't have an account? <a href="/employer/signup">Sign Up Here</a></p>
    </form>
</body>

</html>