<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./styles/jobSignup.css">
    <link rel="stylesheet" href="./styles/anavbar.css">
    <link rel="icon" type="image/png" href="./images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">Job-Board</div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#" class="employer">Employer</a></li>
            </ul>
        </nav>
    </header>

    <div class="container login">
        <div class="heading">Welcome Back! 👋</div>
        <form class="form" action="">
            <div class="input-field">
                <input required="" autocomplete="off" type="text" name="text" id="username" />
                <label for="username">Username</label>
            </div>

            <div class="input-field">
                <input required="" autocomplete="off" type="password" name="text" id="password" />
                <label for="password">Password</label>
            </div>

            <div class="btn-container">
                <button class="btn">Login</button>
                <div class="acc-text">
                    Don't have an account? <span style="color: #0000ff; cursor: pointer;">Sign Up</span>
                </div>
            </div>
        </form>
    </div>

</body>

</html>