/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #8ed1fc, #a4b3d6, #e0c3fc, #f8cdda);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  padding-top: 60px; /* Adjust based on navbar height */
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-size: 1.8em;
  font-weight: 700;
  color: #007bff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
  color: #007bff;
}

nav ul li a.employer {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a.employer:hover {
  background-color: #0056b3;
}

.profile-container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fcf8f3;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-header h1 {
  font-size: 2rem;
  color: #0034de;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #0034de;
}

.input-field {
  margin-bottom: 15px;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.input-field input,
.input-field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-container {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(135deg, #0034de, #006eff);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  filter: brightness(1.2);
}
