<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Job Zen</title>
    <link rel="stylesheet" href="/styles/jobseeker/about.css">
    <link rel="stylesheet" href="/styles/jobseeker/navbarr.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="logo">JobZen</div>
        <nav>
            <ul>
                <li><a href="/" style="color: #3478ee;">Home</a></li>
                <li><a href="/job/feed">Jobs</a></li>
                <li><a href="/about" style="color: #FA7070;">About</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <a href="/profile">
                <img src="avatar.avif" alt="Profile Photo" class="profile-photo">
            </a>
        </nav>
    </header>
    <main>
        <div class="containerr">
            <section id="about">
                <div class="about-content">
                    <div class="text">
                        <h1>Introduction</h1>
                        <p>Welcome to JobZen, your one-stop platform for connecting job seekers with employers across all sectors. 
                            Whether you're looking for household work, a technical role, or anything in between, JobZen has you covered. 
                            We believe that employment opportunities should be accessible to everyone, regardless of industry or job type. 
                            With the ubiquity of smartphones, our platform is designed to ensure that anyone, from small-wage workers to 
                            corporate professionals, can easily find and apply for jobs that suit their needs.</p>

                        <h1>Our Aim</h1>
                        <p>At JobZen, our aim is to democratize the job market by providing a seamless and inclusive platform where anyone 
                            can post or find a job. We strive to bridge the gap between employers and job seekers by offering a comprehensive 
                            and user-friendly interface. Our goal is to make job searching and hiring as effortless as possible, regardless of 
                            the job's scale or sector. By covering a wide spectrum of job categories, we aim to serve the entire community, ensuring 
                            that every job seeker finds the opportunity they're looking for and every employer finds the talent they need.</p>

                        <h1>Our Vision</h1>
                        <p>Our vision at JobZen is to create an all-encompassing job marketplace where geographical and professional boundaries 
                            are dissolved. We see a future where every individual, regardless of their role in the economy, has equal access to job 
                            opportunities that match their skills and aspirations. JobZen aspires to be the go-to platform for all job types, enabling 
                            users to find work that aligns with their lives and goals. We envision a world where job seeking is simple, inclusive, and 
                            accessible to everyone, everywhere.</p>

                        <h1>Future Scope</h1>
                        <p>As JobZen continues to grow, we plan to expand our platform to incorporate advanced features that further enhance the job 
                            search and hiring experience. In the future, we aim to integrate AI-driven job recommendations, real-time communication tools 
                            between employers and job seekers, and robust analytics for employers to streamline their hiring process. Additionally, we 
                            plan to expand our reach to more regions and industries, ensuring that JobZen remains at the forefront of connecting people 
                            with the jobs they need, no matter where they are or what they do.</p>
                        <ul>
                            <li><strong>Enhance Accessibility:</strong> Ensure that job seekers from all backgrounds
                                have access to a wide range of international job opportunities, enabling them to explore
                                and secure positions that align with their career goals.</li>
                            <li><strong>Streamline Recruitment:</strong> Provide employers with advanced tools to post
                                job listings, filter applications, and manage the hiring process efficiently. Our
                                intuitive interface and powerful search capabilities will make finding the right
                                candidates faster and more effective.</li>
                        </ul>
                    </div>
                    <div class="images">
                        <img src="EMPLOYMENT-copy (1).webp" alt="Image 1">
                        <img src="employment for me.jpeg" alt="Image 2">
                        <img src="image for me.jpeg" alt="Image 3">
                        <img src="purpose.png" alt="Image 4">
                        <img src="real job offer.jpg" alt="Image 5">
                    </div>
                </div>
            </section>
            <div class="contact-us">
                <h1>Contact Us</h1>
                <p>We are four 3rd-year BTech CSE students dedicated to changing the job-seeking process with JobZen, making it easier and more inclusive for everyone. You can connect with us through:</p>
                <ul>
                    <li><strong>Instagram:</strong> <a href="https://www.instagram.com/rithikkyadavv/" target="_blank"
                            class="icon-insta"><img src="Instagram_logo_2016.svg.webp" alt="Instagram Logo"
                                class="icon"></a></li>
                    <li><strong>Email:</strong> <a href="mailto:udit.chauhan.22cse@bmu.edu.in" target="_blank" class="icon-gmail"><img
                                src="Gmail_Logo_512px.png" alt="Gmail Logo" class="icon"></a></li>
                    <li><strong>Phone:</strong> <a href="tel:+919140619017" target="_blank" class="icon-phone"><img src="phone.jpeg"
                                alt="Phone Logo" class="icon"></a></li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 JobZen. All rights reserved.</p>
    </footer>
</body>

</html>
