<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./styles/jobseeker/jobSignup.css">
    <link rel="stylesheet" href="./styles/employer/anavbar.css">
    <link rel="icon" type="image/png" href="./images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">Job-Zen</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/employer/login" class="employer">Employer</a></li>
            </ul>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="decorative-box"></div> <!-- Decorative box for background -->
        <div class="content">
            <div class="heading">Join Our Community 🙌🏻</div> <!-- Updated heading -->
            <form class="form" action="/signup" method="post">
                <div class="input-field">
                    <input required="" autocomplete="off" type="text" name="name" id="username" />
                    <label for="username">Full Name</label>
                </div>
                <div class="input-field">
                    <input required="" autocomplete="off" type="text" name="username" id="username" />
                    <label for="username">Username</label>
                </div>
                <div class="input-field">
                    <input required="" autocomplete="off" type="email" name="email" id="email" />
                    <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <input required="" autocomplete="off" type="password" name="password" id="password" />
                    <label for="username">Password</label>
                </div>
                <div class="btn-container">
                    <button class="btn">Submit</button>
                    <div class="acc-text">
                        Already have an account??
                        <a href="/login"><span style="color : #0000ff; cursor : pointer;">Login</span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

</html>