/* Header */
header {
  background-color: #1c6dd0; /* Deep Blue background */
  color: #fff8f3; /* Light Cream text */
  padding: 1rem 0;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Gentle shadow for header */
}

.containerr {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 1.75rem;
  font-weight: bold;
  color: #fff8f3; /* Light Cream color for logo */
  transition: color 0.3s ease;
}

.logo:hover {
  color: #e0e0e0; /* Light Gray on hover */
  transform: translateY(-1px);
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 1.5rem;
}

.nav-links a {
  color: #fff8f3; /* Light Cream for links */
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem; /* Slightly larger text */
  transition: color 0.3s, transform 0.3s, background-color 0.3s;
  padding: 0.5rem 0.75rem; /* Padding for better click area */
  border-radius: 4px; /* Slightly rounded corners */
}

.nav-links a:hover {
  color: #e0e0e0; /* Light Gray on hover */
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Subtle Light Transparent White background */
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Gentle shadow on hover */
}

.nav-links a:active {
  background-color: rgba(255, 255, 255, 0.3); /* Light Opaque White on click */
}
