/* Navbar styles */
header {
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 65px;
  transition: all 0.3s ease-in-out;
}

header:hover {
  background: #f9f9f9;
}

.containerr {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  font-size: 1.8em;
  font-weight: 700;
  color: #007bff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.07);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 21px;
  padding: 10px 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
  color: #007bff;
  transform: translateY(-2px);
}

.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile-photo:hover {
  transform: scale(1.1);
}
